<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytefinger.toutuo.board.mapper.ProjectBidFeeRegistrationMapper">
    <sql id="selectDataRole">
        <choose>
            <!--  所在部门及下级部门+员工   -->
            <when test="'SHOW_SUB' == cm.dataRole">
                <!-- 我部门下的数据 -->
                and (
                project.company_id IN
                <foreach collection="cm.deptIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                OR project.attributor_user_id = #{cm.userId}
                )
            </when>

            <!-- 全部数据 -->
            <when test="'SHOW_ALL' == cm.dataRole">

            </when>

            <!-- 默认本人数据 -->
            <otherwise>
                AND (
                project.attributor_user_id = #{cm.userId}
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                )
            </otherwise>
        </choose>
    </sql>
    <select id="page" resultType="com.bytefinger.toutuo.board.domain.ProjectBidFeeRegistration">
        SELECT
        project.region_id,
        sda.dept_name AS region_name,
        project.company_id,
        sdc.dept_name AS company_name,
        project.project_no,
        project.project_name AS projectName,
        bfr.*,
        su.realname AS createUserName
        FROM
        biz_project_bid_fee_registration bfr
        LEFT JOIN biz_project project ON project.id = bfr.project_id
        LEFT JOIN sys_dept sda ON project.region_id = sda.dept_id
        LEFT JOIN sys_dept sdc ON project.company_id = sdc.dept_id
        LEFT JOIN sys_user su ON bfr.create_user_id = su.user_id
        WHERE 1=1
        <include refid="selectDataRole"></include>
        <if test="ew.sqlSegment !='' ">
            AND ${ew.sqlSegment}
        </if>
        <if test="bfr.freeType != null and bfr.freeType != '' ">
            AND bfr.free_type = #{bfr.freeType}
        </if>
        <if test="bfr.recoverStatus != null and bfr.recoverStatus != '' ">
            AND bfr.recover_status = #{bfr.recoverStatus}
        </if>
        <if test="bfr.deduct != null and bfr.deduct != '' ">
            AND bfr.deduct = #{bfr.deduct}
        </if>
        <if test="bfr.paymentCompany != null and bfr.paymentCompany != '' ">
            AND bfr.payment_company  like concat('%', #{bfr.paymentCompany}, '%')
        </if>
        <if test="bfr.arrearageCompany != null and bfr.arrearageCompany != '' ">
            AND bfr.arrearage_company  like concat('%', #{bfr.arrearageCompany}, '%')
        </if>
        <if test="bfr.payeeCompany != null and bfr.payeeCompany != '' ">
            AND bfr.payee_company  like concat('%', #{bfr.payeeCompany}, '%')
        </if>
    </select>

</mapper>
