@font-face {
  font-family: "iconfont"; /* Project id 3689913 */
  src: url('//at.alicdn.com/t/c/font_3689913_fohwqdoq76o.woff2?t=1678899590795') format('woff2'),
       url('//at.alicdn.com/t/c/font_3689913_fohwqdoq76o.woff?t=1678899590795') format('woff'),
       url('//at.alicdn.com/t/c/font_3689913_fohwqdoq76o.ttf?t=1678899590795') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-investment:before {
  content: "\e626";
}

.icon-performance:before {
  content: "\e7b5";
}

.icon-select:before {
  content: "\e67e";
}

.icon-left:before {
  content: "\e685";
}

.icon-up:before {
  content: "\e686";
}

.icon-right:before {
  content: "\e687";
}

.icon-close:before {
  content: "\e606";
}

.icon-plus:before {
  content: "\e611";
}

.icon-gongju:before {
  content: "\e615";
}

.icon-jiankong:before {
  content: "\e70a";
}

.icon-index:before {
  content: "\e605";
}

.icon-dangan:before {
  content: "\e607";
}

.icon-taizhang:before {
  content: "\e65f";
}

.icon-shenpi:before {
  content: "\eb67";
}

.icon-report:before {
  content: "\eb66";
}

.icon-kehu:before {
  content: "\e697";
}

.icon-huangguan:before {
  content: "\e61a";
}

.icon-baozhuang:before {
  content: "\e61b";
}

.icon-setting:before {
  content: "\e795";
}

.icon-plan:before {
  content: "\e618";
}

.icon-yeji:before {
  content: "\e6e3";
}

.icon-xiansuo:before {
  content: "\e610";
}

.icon-project:before {
  content: "\e797";
}

.icon-pk:before {
  content: "\e683";
}

.icon-dingshi:before {
  content: "\e6de";
}

.icon-dashboard:before {
  content: "\e60f";
}

.icon-shangji:before {
  content: "\e7e8";
}

.icon-jianbao:before {
  content: "\e60f";
}
