<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytefinger.toutuo.biz.project.mapper.ProjectNotifyLogMapper">

    <select id="page" resultType="com.bytefinger.toutuo.biz.project.domain.ProjectNotifyLog">
        SELECT log.*,usr.realname AS updateUserName FROM biz_project_notify_log log
        JOIN sys_user usr ON log.update_user_id = usr.user_id
        WHERE deleted = 0
        <if test="cm.projectName != null and cm.projectName != ''">
            AND project_name LIKE concat('%',#{cm.projectName},'%')
        </if>
        <if test="cm.notifyType != null and cm.notifyType != ''">
            AND notify_type = #{cm.notifyType}
        </if>
        ORDER BY log.create_time DESC
    </select>

</mapper>