<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytefinger.toutuo.biz.companydocument.mapper.ProjectCompanyDocumentMapper">

    <sql id="selectBaseData">
        SELECT d.*,
        dt.oper_name as documentTemplateName,
        sm.name as stepMenuName,
        c.id
        from biz_project_company_document d
            LEFT JOIN biz_project_company_document_template dt on d.document_template_id = dt.id
            LEFT JOIN biz_project_company_step_menu sm on sm.id = dt.step_menu_id
            LEFT JOIN biz_project_company c on c.id = d.company_id
        WHERE 1=1
        <!-- where dt.oper_name like "%%" and d.document_name like "%%" and d.create_time -->

<!--        <choose>-->
<!--            &lt;!&ndash;  所在部门及下级部门+员工   &ndash;&gt;-->
<!--            <when test="'SHOW_SUB' == cm.dataRole">-->
<!--                &lt;!&ndash; 我部门下的数据 &ndash;&gt;-->
<!--                and (-->
<!--                project.company_id IN-->
<!--                <foreach collection="cm.deptIds" index="index" item="item" open="(" separator="," close=")">-->
<!--                    #{item}-->
<!--                </foreach>-->
<!--                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})-->
<!--                OR project.attributor_user_id = #{cm.userId}-->
<!--                )-->
<!--            </when>-->

<!--            &lt;!&ndash; 全部数据 &ndash;&gt;-->
<!--            <when test="'SHOW_ALL' == cm.dataRole">-->

<!--            </when>-->

<!--            &lt;!&ndash; 默认本人数据 &ndash;&gt;-->
<!--            <otherwise>-->
<!--                AND (-->
<!--                project.attributor_user_id = #{cm.userId}-->
<!--                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})-->
<!--                )-->
<!--            </otherwise>-->
<!--        </choose>-->
    </sql>


    <sql id="selectBaseDataTwo">
       select d.* from  (SELECT pcd.*,
        dt.oper_name as document_template_name,
        sm.name as step_menu_name,
        c.name company_name
        from biz_project_company_document pcd
        LEFT JOIN biz_project_company_document_template dt on pcd.document_template_id = dt.id
        LEFT JOIN biz_project_company_step_menu sm on sm.id = dt.step_menu_id
        LEFT JOIN biz_project_company c on c.id = pcd.company_id) d
        WHERE 1=1

    </sql>
    <!-- 公司列表 -->
    <select id="list" resultType="com.bytefinger.toutuo.biz.companydocument.domain.ProjectCompanyDocument">
        <include refid="selectBaseDataTwo"></include>
        <if test="ew.sqlSegment != '' ">
            AND ${ew.sqlSegment}
        </if>
    </select>

</mapper>