<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.bytefinger.toutuo.biz.project.mapper.ProjectTeamOutsideMapper">    <!-- 通用查询映射结果 -->    <resultMap id="BaseResultMap" type="com.bytefinger.toutuo.biz.project.domain.ProjectTeamOutside">        <id column="id" property="id" />        <result column="record_id" property="recordId" />        <result column="user_name" property="userName" />        <result column="post_name" property="postName" />        <result column="create_time" property="createTime" />    </resultMap></mapper>