<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytefinger.toutuo.biz.projectextension.mapper.ProjectExpansionDocumentMapper">

    <sql id="selectBaseData">
        select bc.* from (SELECT
        DISTINCT document.*,
        menu.name as step_menu_name,
        bp.project_name project_name,
        bp.project_type project_type
        FROM
        biz_project_expansion_document document
        LEFT JOIN biz_project bp on bp.id = document.project_id
        LEFT JOIN biz_project_step_expansion_menu menu	on menu.id = document.step_menu_id where document.deleted=0 ) bc

where 1=1
    </sql>



    <!-- 项目基础列表 -->
    <select id="list" resultType="com.bytefinger.toutuo.biz.projectextension.entity.ProjectExpansionDocument">
        <include refid="selectBaseData"></include>
        <if test="ew.sqlSegment != '' ">
            AND ${ew.sqlSegment}
        </if>
    </select>

</mapper>
