<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytefinger.toutuo.biz.companyfinance.mapper.ProjectCompanyFinanceAssetsMapper">

    <sql id="selectBaseData">
      select pcfa.* from  ( select 	A.*,B.step_menu_id
        from biz_project_company_finance_assets A,
        biz_project_company_document C ,
        biz_project_company_document_template B
        where
        A.company_id=C.company_id
        and A.id=C.record_id
        and C.document_template_id=B.id ) pcfa where 1=1
    </sql>


    <!-- 项目基础列表 -->
    <select id="list" resultType="com.bytefinger.toutuo.biz.companyfinance.domain.ProjectCompanyFinanceAssets">
        <include refid="selectBaseData"></include>
        <if test="ew.sqlSegment != '' ">
            AND ${ew.sqlSegment}
        </if>
    </select>

</mapper>