<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytefinger.toutuo.biz.projectextension.mapper.ProjectExtensionMapper">

    <sql id="selectBaseData">
        SELECT project.*, userInfo.realname processPerson
        FROM (
        SELECT
        DISTINCT project.*,
        e.process_state processState,
        e.process_mode processMode,
        et.process_state processStatet,
        et.process_mode processModet,
        e.update_time disposeTime,
        e.create_user_id processPersonId
        FROM
        biz_project project
        LEFT JOIN biz_project_extension e ON e.project_id = project.id
        LEFT JOIN biz_project_extension et ON et.relevance_project_id = project.id
        ) project
        LEFT JOIN sys_user userInfo ON project.processPersonId = userInfo.user_id
        -- 直接嵌套子查询替代 CTE
        LEFT JOIN (
        SELECT project_id, IFNULL(SUM(id), 0) AS check_sum
        FROM biz_project_check
        WHERE temporary != 0
        GROUP BY project_id
        ) cs ON cs.project_id = project.id
        LEFT JOIN (
        SELECT project_id, IFNULL(SUM(id), 0) AS assess_sum
        FROM biz_project_assess
        WHERE deleted = 0
        GROUP BY project_id
        ) asu ON asu.project_id = project.id
        WHERE 1 = 1
        AND project.project_type IN ('DAN_YI_FEI_TOU_BIAO_XIANG_MU', 'DAN_YI_TOU_BIAO_XIANG_MU')
        AND (
        <!-- 服务状态条件 -->
        <if test="cm.serviceStatus != null and cm.serviceStatus.size > 0">
            project.service_status IN
            <foreach collection="cm.serviceStatus" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <!-- 处理状态条件 -->
        <if test="cm.processState != null and cm.processState.size > 0">
            OR
            (
            (1 != 1
            <foreach collection="cm.processState" index="index" item="item" open="" separator=" " close="">
                <if test="item == 0">
                    OR (project.processState IS NULL OR project.processState = 0)
                </if>
                <if test="item != 0">
                    OR project.processState = #{item}
                </if>
            </foreach>
            )
            <if test="cm.expandServiceStatus != null and cm.expandServiceStatus.size > 0">
                AND project.service_status IN
                <foreach collection="cm.expandServiceStatus" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            )
        </if>

        <!-- 扩展服务状态条件 -->
        <if test="cm.expandTwoServiceStatus != null and cm.expandTwoServiceStatus.size > 0">
            OR
            project.service_status IN
            <foreach collection="cm.expandTwoServiceStatus" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="cm.updateStatusDateStart != null">
                AND project.update_status_date &gt;= #{cm.updateStatusDateStart}
            </if>
            <if test="cm.updateStatusDateEnd != null">
                AND #{cm.updateStatusDateEnd} &gt;= project.update_status_date
            </if>
        </if>
        )
        <!-- 总类型条件 -->
        <if test="cm.totalType != null">
            <if test="cm.totalType == 1">
                AND project.processModet = 1 AND project.processStatet = 2
            </if>
            <if test="cm.totalType == 2">
                AND project.processModet = 2 AND project.processStatet = 2
            </if>
            <if test="cm.totalType == 3">
                AND project.service_status = 'YI_WAN_JIE'
            </if>
            <if test="cm.totalType == 4">
                AND project.processMode = 3 AND project.processState = 2
            </if>
        </if>
        <!-- 审核状态条件 -->
        <if test="cm.checkState != null and cm.checkState == 'SHI'">
            AND cs.check_sum &gt; 0
        </if>
        <if test="cm.checkState != null and cm.checkState == 'FOU'">
            AND cs.check_sum = 0
        </if>
        <!-- 评估状态条件 -->
        <if test="cm.assessIsNot != null and cm.assessIsNot == 'SHI'">
            AND asu.assess_sum &gt; 0
        </if>
        <if test="cm.assessIsNot != null and cm.assessIsNot == 'FOU'">
            AND asu.assess_sum = 0
        </if>
        <!-- 合同到期状态条件 -->
        <if test="cm.contractIsNotExpire != null and cm.contractIsNotExpire != ''">
            <if test="cm.contractIsNotExpire == '已到期'">
                AND project.service_end_time &lt; CURDATE()
            </if>
            <if test="cm.contractIsNotExpire == '即将到期'">
                AND project.service_end_time &lt; DATE_ADD(CURDATE(), INTERVAL 91 DAY)
                AND project.service_end_time &gt; CURDATE()
            </if>
            <if test="cm.contractIsNotExpire == '未到期'">
                AND project.service_end_time &gt; DATE_ADD(CURDATE(), INTERVAL 91 DAY)
            </if>
        </if>
        <!-- 服务内容条件 -->
        <if test="cm.serviceContent != null">
            AND (
            <foreach collection="cm.serviceContent" index="index" item="item" open="" separator=" OR " close="">
                project.service_content LIKE CONCAT('%', #{item}, '%')
            </foreach>
            )
        </if>

        <if test="ew.sqlSegment != '' ">
            AND ${ew.sqlSegment}
        </if>

        <choose>
            <!--  所在部门及下级部门+员工+拓后负责人   -->
            <when test="'SHOW_SUB' == cm.dataRole">
                <!-- 我部门下的数据 -->
                and (
                project.company_id IN
                <foreach collection="cm.deptIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                OR project.attributor_user_id = #{cm.userId}
                OR project.create_user_id = #{cm.userId}
                OR project.principal_id = #{cm.userId}
                )
            </when>
            <!--            <when test="cm.assessState != ''">-->
            <!--&#45;&#45;                 and assess.assess_state = #{cm.assessState}-->
            <!--            </when>-->
            <!-- 全部数据 -->
            <when test="'SHOW_ALL' == cm.dataRole">

            </when>

            <!-- 默认本人数据 -->
            <otherwise>
                AND (
                project.attributor_user_id = #{cm.userId}
                OR project.principal_id = #{cm.userId}
                OR project.create_user_id = #{cm.userId}
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                )
            </otherwise>
        </choose>
    </sql>

    <sql id="selectExtensionBaseData">
        select * from (
        SELECT project.*,userInfo.realname processPerson FROM (
        SELECT
        DISTINCT project.*,
        -- case when `extension`.process_state is null then `extensionTwo`.process_state else `extension`.process_state end processState,
        -- case when `extension`.process_mode is null then `extensionTwo`.process_mode else `extension`.process_mode end processMode,
        -- case when `extension`.update_time is null then `extensionTwo`.update_time else `extension`.update_time end disposeTime,
        -- case when `extension`.create_user_id is null then `extensionTwo`.create_user_id else `extension`.create_user_id end processPersonId
        `extension`.process_state processState,
        `extension`.process_mode processMode,
        `extension`.update_time disposeTime,
        `extension`.create_user_id processPersonId
        FROM
        biz_project project
        left join (select * from biz_project_extension ) `extension` on `extension`.project_id = project.id
        -- left join (select * from biz_project_extension where process_mode in (1,2) ) `extensionTwo` on `extensionTwo`.relevance_project_id = project.id
        ) project
        LEFT JOIN sys_user userInfo on project.processPersonId = userInfo.user_id
        ) project
        where 1=1
        and project.is_sync_operation = 'SHI'

        <if test="cm.processState != null and cm.processState.size>0" >
            and (1!=1
            <foreach collection="cm.processState" index="index" item="item" open="" separator=" " close="">
                <if test="item == 0 ">
                    or project.processState is null or project.processState = 0
                </if>
                <if test="item != 0 ">
                    or project.processState = #{item}
                </if>
            </foreach>
            )
        </if>
        <if test="cm.processMode != null and cm.processMode.size>0" >
            and (1!=1
            <foreach collection="cm.processMode" index="index" item="item" open="" separator=" " close="">
                or project.processMode = #{item}
            </foreach>
            )
        </if>
        <if test="cm.checkState != null and cm.checkState == 'SHI' ">
            and (select IFNULL(sum(`check`.id),0) from biz_project_check `check` where `check`.temporary != 0 and `check`.project_id = project.id)
            > 0
        </if>
        <if test="cm.checkState != null and cm.checkState == 'FOU' ">
            and (select IFNULL(sum(`check`.id),0) from biz_project_check `check` where `check`.temporary != 0 and `check`.project_id = project.id)
            = 0
        </if>

        <if test="cm.assessIsNot != null and cm.assessIsNot == 'SHI' ">
            and (select IFNULL(sum(assess.id),0) from biz_project_assess assess where assess.deleted = 0 and
            assess.project_id = project.id) >
            0
        </if>
        <if test="cm.assessIsNot != null and cm.assessIsNot == 'FOU' ">
            and (select IFNULL(sum(assess.id),0) from biz_project_assess assess where assess.deleted = 0 and
            assess.project_id = project.id) =
            0
        </if>
        <if test="cm.relevanceProjectNo != null and cm.relevanceProjectNo != '' ">
            and extension.relevance_project_id in (select relevanceProject.id from biz_project relevanceProject where
            extension.relevance_project_id = relevanceProject.id and relevanceProject.project_no like
            '%${cm.relevanceProjectNo}%' )
        </if>
        <if test="cm.contractIsNotExpire != null and cm.contractIsNotExpire != '' ">
            <if test="cm.contractIsNotExpire == '已到期' ">
                and project.service_end_time <![CDATA[ < ]]> DATE_FORMAT(NOW(), '%Y-%m-%d')
            </if>
            <if test="cm.contractIsNotExpire == '即将到期' ">
                and project.service_end_time <![CDATA[ < ]]> date_add(DATE_FORMAT(NOW(), '%Y-%m-%d'), interval 91 day)
                and project.service_end_time <![CDATA[ > ]]> DATE_FORMAT(NOW(), '%Y-%m-%d')
            </if>
            <if test="cm.contractIsNotExpire == '未到期' ">
                -- and project.service_end_time <![CDATA[ > ]]> DATE_FORMAT(NOW(), '%Y-%m-%d')
                and project.service_end_time <![CDATA[ > ]]> date_add(DATE_FORMAT(NOW(), '%Y-%m-%d'), interval 91 day)
            </if>
        </if>
        <if test="cm.serviceContent != null">
            and
            (
            <foreach collection="cm.serviceContent" index="index" item="item" open="" separator="" close="">
                <if test="index != 0">
                    or
                </if>
                project.service_content like '%${item}%'
            </foreach>
            )
        </if>
        <choose>
            <!--  所在部门及下级部门+员工+拓后负责人   -->
            <when test="'SHOW_SUB' == cm.dataRole">
                <!-- 我部门下的数据 -->
                and (
                project.company_id IN
                <foreach collection="cm.deptIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                OR project.attributor_user_id = #{cm.userId}
                OR project.create_user_id = #{cm.userId}
                OR project.principal_id = #{cm.userId}
                )
            </when>
            <!--            <when test="cm.assessState != ''">-->
            <!--&#45;&#45;                 and assess.assess_state = #{cm.assessState}-->
            <!--            </when>-->
            <!-- 全部数据 -->
            <when test="'SHOW_ALL' == cm.dataRole">

            </when>

            <!-- 默认本人数据 -->
            <otherwise>
                AND (
                project.attributor_user_id = #{cm.userId}
                OR project.principal_id = #{cm.userId}
                OR project.create_user_id = #{cm.userId}
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                )
            </otherwise>
        </choose>
    </sql>

    <!-- 项目基础列表 -->
    <select id="list" resultType="com.bytefinger.toutuo.biz.project.domain.Project">
        <include refid="selectBaseData"></include>
    </select>

    <!-- 拓后列表 -->
    <select id="extensionList" resultType="com.bytefinger.toutuo.biz.project.domain.Project">
        <include refid="selectExtensionBaseData"></include>
        <if test="ew.sqlSegment != '' ">
            AND ${ew.sqlSegment}
        </if>
    </select>

    <!-- 项目基础列表 -->
    <select id="projectList" resultType="com.bytefinger.toutuo.biz.project.domain.Project">
        SELECT DISTINCT project.*
        FROM biz_project project
        left join biz_project_extension `extension` on `extension`.project_id = project.id
        -- left join biz_project_assess assess on assess.project_id = project.id
        where 1 = 1
        and project.id in (SELECT id
        FROM biz_project pro
        where pro.service_status = 'ZAI_GUAN'
        or pro.service_status =
        'YI_DAO_QI')
        and project.id not in
        (SELECT extension.project_id
        FROM biz_project_extension extension
        LEFT JOIN biz_project project on project.id =
        extension.project_id
        where extension.process_state = 2
        and project.service_status = 'YI_DAO_QI')
        and project.project_type in ('DAN_YI_FEI_TOU_BIAO_XIANG_MU', 'DAN_YI_TOU_BIAO_XIANG_MU')
        and project.expire !='YI_SHI_XIAO'

        <if test="cm.projectName != null and cm.projectName !=''">
            and project.project_name like '%${cm.projectName}%'
        </if>
        <if test="cm.projectName == null">
            <choose>
                <!--  所在部门及下级部门+员工+拓后负责人   -->
                <when test="'SHOW_SUB' == cm.dataRole">
                    <!-- 我部门下的数据 -->
                    and (
                    project.company_id IN
                    <foreach collection="cm.deptIds" index="index" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                    OR project.attributor_user_id = #{cm.userId}
                    OR project.create_user_id = #{cm.userId}
                    OR project.principal_id = #{cm.userId}
                    )
                </when>
                <!--            <when test="cm.assessState != ''">-->
                <!--&#45;&#45;                 and assess.assess_state = #{cm.assessState}-->
                <!--            </when>-->
                <!-- 全部数据 -->
                <when test="'SHOW_ALL' == cm.dataRole">

                </when>

                <!-- 默认本人数据 -->
                <otherwise>
                    AND (
                    project.attributor_user_id = #{cm.userId}
                    OR project.principal_id = #{cm.userId}
                    OR project.create_user_id = #{cm.userId}
                    OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                    )
                </otherwise>
            </choose>
        </if>
    </select>
    <!-- 项目基础列表 -->
    <select id="projectPageList" resultType="com.bytefinger.toutuo.biz.project.domain.Project">
        SELECT DISTINCT project.*
        FROM biz_project project
        left join biz_project_extension `extension` on `extension`.project_id = project.id
        -- left join biz_project_assess assess on assess.project_id = project.id
        where 1 = 1
        and project.is_sync_operation = 'SHI'
        and project.service_status != 'CLOSE_FILE'
        <if test="cm.projectName == null">
            <choose>
                <!--  所在部门及下级部门+员工+拓后负责人   -->
                <when test="'SHOW_SUB' == cm.dataRole">
                    <!-- 我部门下的数据 -->
                    and (
                    project.company_id IN
                    <foreach collection="cm.deptIds" index="index" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                    OR project.attributor_user_id = #{cm.userId}
                    OR project.create_user_id = #{cm.userId}
                    OR project.principal_id = #{cm.userId}
                    )
                </when>
                <!--            <when test="cm.assessState != ''">-->
                <!--&#45;&#45;                 and assess.assess_state = #{cm.assessState}-->
                <!--            </when>-->
                <!-- 全部数据 -->
                <when test="'SHOW_ALL' == cm.dataRole">

                </when>

                <!-- 默认本人数据 -->
                <otherwise>
                    AND (
                    project.attributor_user_id = #{cm.userId}
                    OR project.principal_id = #{cm.userId}
                    OR project.create_user_id = #{cm.userId}
                    OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                    )
                </otherwise>
            </choose>
        </if>
    </select>
    <!-- 续签重新投标列表 -->
    <select id="renewBidList" resultType="com.bytefinger.toutuo.biz.project.domain.Project">
        SELECT DISTINCT project.* FROM biz_project project
        left join (select * from biz_project_extension ) `extension` on `extension`.project_id = project.id
        where 1=1
        and
        (

        (
        <if test="cm.serviceStatus != null and cm.serviceStatus.size>0" >
            (1!=1
            <foreach collection="cm.serviceStatus" index="index" item="item" open="" separator=" " close="">
                or project.service_status = #{item}
            </foreach>
            )
        </if>

        <if test="cm.processState != null and cm.processState.size>0" >
            and (1!=1 or `extension`.process_state = 0 or `extension`.process_state is null)
        </if>
        )

        or
        (
        <if test="cm.expandProcessMode != null and cm.expandProcessMode.size>0" >

            (1!=1
            <foreach collection="cm.expandProcessMode" index="index" item="item" open="" separator=" " close="">
                or `extension`.process_mode = #{item}
            </foreach>
            )

            <if test="cm.expandServiceStatus != null and cm.expandServiceStatus.size>0" >
                and (1!=1
                <foreach collection="cm.expandServiceStatus" index="index" item="item" open="" separator=" " close="">
                    <if test="item == 'WEI_JIE_XIANG' ">
                        or project.service_status not in ('ZAI_GUAN','YI_FEI_ZHI','YI_ZHONG_ZHI','YI_WAN_JIE','YI_TUI_CHANG','CLOSE_FILE','WEI_ZHONG_BIAO')
                    </if>
                    <if test="item != 'WEI_JIE_XIANG' ">
                        or project.service_status = #{item}
                    </if>
                </foreach>
                )
            </if>
        </if>
        <if test="cm.expandProcessMode == null or cm.expandProcessMode.size==0" >
            1!=1
        </if>
        )

        or
        (
        <if test="cm.expandTwoServiceStatus != null and cm.expandTwoProcessMode != null and cm.expandTwoServiceStatus.size>0 and cm.expandTwoProcessMode.size>0" >
            (1!=1
            <foreach collection="cm.expandTwoServiceStatus" index="index" item="item" open="" separator=" " close="">
                <if test="item == 'WEI_JIE_XIANG' ">
                    or project.service_status not in ('ZAI_GUAN','YI_FEI_ZHI','YI_ZHONG_ZHI','YI_WAN_JIE','YI_TUI_CHANG','CLOSE_FILE','WEI_ZHONG_BIAO')
                </if>
                <if test="item != 'WEI_JIE_XIANG' ">
                    or project.service_status = #{item}
                </if>
            </foreach>
            )
            and (1!=1
            <foreach collection="cm.expandTwoProcessMode" index="index" item="item" open="" separator=" " close="">
                or `extension`.process_mode = #{item}
            </foreach>
            )
            <if test="cm.updateStatusDateStart != null">
                and project.update_status_date >= #{cm.updateStatusDateStart}
            </if>
            <if test="cm.updateStatusDateEnd != null">
                and #{cm.updateStatusDateEnd} >= project.update_status_date
            </if>
        </if>
        <if test="cm.expandTwoServiceStatus == null or cm.expandTwoProcessMode == null or cm.expandTwoServiceStatus.size == 0 or cm.expandTwoProcessMode.size == 0" >
            1!=1
        </if>
        )

        )

        <if test="cm.expandCompanyId != null and cm.expandCompanyId.size>0" >
            and project.id in (

            select project_id from biz_project_achievement where expand_company_id in
            <foreach collection="cm.expandCompanyId" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>

            )
        </if>
        <if test="cm.finishStepId != null and cm.finishStepId.size>0" >
            and project.id in (
            select project_id from biz_project_step where step_menu_id in
            <foreach collection="cm.finishStepId" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            and status = 1
            )
        </if>
        <choose>
            <!--  所在部门及下级部门+员工   -->
            <when test="'SHOW_SUB' == cm.dataRole">
                <!-- 我部门下的数据 -->
                and (
                project.company_id IN
                <foreach collection="cm.deptIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                OR project.attributor_user_id = #{cm.userId}
                OR project.create_user_id = #{cm.userId}
                )
            </when>

            <!-- 全部数据 -->
            <when test="'SHOW_ALL' == cm.dataRole">

            </when>

            <!-- 默认本人数据 -->
            <otherwise>
                AND (
                project.attributor_user_id = #{cm.userId}
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                OR project.create_user_id = #{cm.userId}
                )
            </otherwise>
        </choose>
        <if test="ew.sqlSegment != '' ">
            AND ${ew.sqlSegment}
        </if>
    </select>

    <select id="listTwo" resultType="com.bytefinger.toutuo.biz.project.bo.ProjectAchievementBO">
        SELECT
        DISTINCT project.*,
        bpa.expand_company_id,
        bpa.assignment_rate,bpa.assignment_desc

        from  biz_project project
        left join  biz_project_step bps on project.id= bps.project_id
        left join  biz_project_achievement bpa on project.id=bpa.project_id
        left join  biz_project_extension `extension` on `extension`.project_id = project.id
        where bps.step_menu_id=18
        and bps.status=1
        and project.project_type in ('DAN_YI_FEI_TOU_BIAO_XIANG_MU','DAN_YI_TOU_BIAO_XIANG_MU')

        and
        (

        (
        <if test="cm.serviceStatus != null and cm.serviceStatus.size>0" >
            (1!=1
            <foreach collection="cm.serviceStatus" index="index" item="item" open="" separator=" " close="">
                or project.service_status = #{item}
            </foreach>
            )
        </if>

        <if test="cm.processState != null and cm.processState.size>0" >
            and (1!=1 or `extension`.process_state = 0 or `extension`.process_state is null)
        </if>
        )

        or
        (
        <if test="cm.expandProcessMode != null and cm.expandProcessMode.size>0" >

            (1!=1
            <foreach collection="cm.expandProcessMode" index="index" item="item" open="" separator=" " close="">
                or `extension`.process_mode = #{item}
            </foreach>
            )

            <if test="cm.expandServiceStatus != null and cm.expandServiceStatus.size>0" >
                and (1!=1
                <foreach collection="cm.expandServiceStatus" index="index" item="item" open="" separator=" " close="">
                    <if test="item == 'WEI_JIE_XIANG' ">
                        or project.service_status not in ('ZAI_GUAN','YI_FEI_ZHI','YI_ZHONG_ZHI','YI_WAN_JIE','YI_TUI_CHANG','CLOSE_FILE','WEI_ZHONG_BIAO')
                    </if>
                    <if test="item != 'WEI_JIE_XIANG' ">
                        or project.service_status = #{item}
                    </if>
                </foreach>
                )
            </if>
        </if>
        <if test="cm.expandProcessMode == null or cm.expandProcessMode.size==0" >
            1!=1
        </if>
        )

        or
        (
        <if test="cm.expandTwoServiceStatus != null and cm.expandTwoProcessMode != null and cm.expandTwoServiceStatus.size>0 and cm.expandTwoProcessMode.size>0" >
            (1!=1
            <foreach collection="cm.expandTwoServiceStatus" index="index" item="item" open="" separator=" " close="">
                <if test="item == 'WEI_JIE_XIANG' ">
                    or project.service_status not in ('ZAI_GUAN','YI_FEI_ZHI','YI_ZHONG_ZHI','YI_WAN_JIE','YI_TUI_CHANG','CLOSE_FILE','WEI_ZHONG_BIAO')
                </if>
                <if test="item != 'WEI_JIE_XIANG' ">
                    or project.service_status = #{item}
                </if>
            </foreach>
            )
            and (1!=1
            <foreach collection="cm.expandTwoProcessMode" index="index" item="item" open="" separator=" " close="">
                or `extension`.process_mode = #{item}
            </foreach>
            )
            <if test="cm.updateStatusDateStart != null">
                and project.update_status_date >= #{cm.updateStatusDateStart}
            </if>
            <if test="cm.updateStatusDateEnd != null">
                and #{cm.updateStatusDateEnd} >= project.update_status_date
            </if>
        </if>
        <if test="cm.expandTwoServiceStatus == null or cm.expandTwoProcessMode == null or cm.expandTwoServiceStatus.size == 0 or cm.expandTwoProcessMode.size == 0" >
            1!=1
        </if>
        )

        )

        <if test="cm.expandCompanyId != null and cm.expandCompanyId.size>0" >
            and project.id in (

            select project_id from biz_project_achievement where expand_company_id in
            <foreach collection="cm.expandCompanyId" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>

            )
        </if>
        <choose>
            <!--  所在部门及下级部门+员工   -->
            <when test="'SHOW_SUB' == cm.dataRole">
                <!-- 我部门下的数据 -->
                and (
                project.company_id IN
                <foreach collection="cm.deptIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                OR project.attributor_user_id = #{cm.userId}
                OR project.create_user_id = #{cm.userId}
                )
            </when>

            <!-- 全部数据 -->
            <when test="'SHOW_ALL' == cm.dataRole">

            </when>

            <!-- 默认本人数据 -->
            <otherwise>
                AND (
                project.attributor_user_id = #{cm.userId}
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                OR project.create_user_id = #{cm.userId}
                )
            </otherwise>
        </choose>
        <if test="ew.sqlSegment != '' ">
            AND ${ew.sqlSegment}
        </if>
    </select>

    <!-- 在管项目统计 -->
    <select id="projectTotal" resultType="com.bytefinger.toutuo.biz.projectextension.vo.ProjectTotalDetailVo">
        SELECT
        DISTINCT
        project.id,
        project.service_status serviceStatus,
        `extension`.process_state processState,
        `extension`.process_mode processMode,
        `extensiont`.process_state processStatet,
        `extensiont`.process_mode processModet
        FROM
        biz_project project
        left join (select * from biz_project_extension ) `extension` on `extension`.project_id = project.id
        left join (select * from biz_project_extension ) `extensiont` on `extensiont`.relevance_project_id = project.id
        where 1=1
        and project.project_type in('DAN_YI_FEI_TOU_BIAO_XIANG_MU','DAN_YI_TOU_BIAO_XIANG_MU')

        and (


        1!=1
        or
        (
        <if test="cm.serviceStatus != null and cm.serviceStatus.size>0" >
            (1!=1
            <foreach collection="cm.serviceStatus" index="index" item="item" open="" separator=" " close="">
                or project.service_status = #{item}
            </foreach>
            )
        </if>
        <if test="cm.serviceStatus == null or cm.serviceStatus.size==0" >
            1!=1
        </if>
        )

        or (

        <if test="cm.processState != null and cm.processState.size>0" >
            (1!=1
            <foreach collection="cm.processState" index="index" item="item" open="" separator=" " close="">
                <if test="item == 0 ">
                    or `extension`.process_state is null or `extension`.process_state = 0
                </if>
                <if test="item != 0 ">
                    or `extension`.process_state = #{item}
                </if>
            </foreach>
            )
            <if test="cm.expandServiceStatus != null and cm.expandServiceStatus.size>0" >
                and (1!=1
                <foreach collection="cm.expandServiceStatus" index="index" item="item" open="" separator=" " close="">
                    or project.service_status = #{item}
                </foreach>
                )
            </if>
        </if>
        <if test="cm.processState == null or cm.processState.size==0" >
            1!=1
        </if>
        )

        or
        (
        <if test="cm.expandTwoServiceStatus != null and cm.expandTwoServiceStatus.size>0" >
            (1!=1
            <foreach collection="cm.expandTwoServiceStatus" index="index" item="item" open="" separator=" " close="">
                or project.service_status = #{item}
            </foreach>
            )
            <if test="cm.updateStatusDateStart != null">
                and project.update_status_date >= #{cm.updateStatusDateStart}
            </if>
            <if test="cm.updateStatusDateEnd != null">
                and #{cm.updateStatusDateEnd} >= project.update_status_date
            </if>
        </if>
        <if test="cm.expandTwoServiceStatus == null or cm.expandTwoServiceStatus.size == 0" >
            1!=1
        </if>
        )


        )

        <if test="cm.totalType != null ">
            <if test="cm.totalType == 1 ">
                and `extensiont`.process_mode = 1 and `extensiont`.process_state = 2
            </if>
            <if test="cm.totalType == 2 ">
                and `extensiont`.process_mode = 2 and `extensiont`.process_state = 2
            </if>
            <if test="cm.totalType == 3 ">
                and project.service_status = 'YI_WAN_JIE'
            </if>
            <if test="cm.totalType == 4 ">
                and `extension`.process_mode = 3 and `extension`.process_state = 2
            </if>
        </if>

        <if test="cm.checkState != null and cm.checkState == 'SHI' ">
            and (select IFNULL(sum(`check`.id),0) from biz_project_check `check` where `check`.temporary != 0 and `check`.project_id = project.id)
            > 0
        </if>

        <if test="cm.checkState != null and cm.checkState == 'SHI' ">
            and (select IFNULL(sum(`check`.id),0) from biz_project_check `check` where `check`.temporary != 0 and `check`.project_id = project.id)
            > 0
        </if>
        <if test="cm.checkState != null and cm.checkState == 'FOU' ">
            and (select IFNULL(sum(`check`.id),0) from biz_project_check `check` where `check`.temporary != 0 and `check`.project_id = project.id)
            = 0
        </if>
        <if test="cm.assessIsNot != null and cm.assessIsNot == 'SHI' ">
            and (select IFNULL(sum(assess.id),0) from biz_project_assess assess where assess.deleted = 0 and
            assess.project_id = project.id) >
            0
        </if>
        <if test="cm.assessIsNot != null and cm.assessIsNot == 'FOU' ">
            and (select IFNULL(sum(assess.id),0) from biz_project_assess assess where assess.deleted = 0 and
            assess.project_id = project.id) =
            0
        </if>
        <if test="cm.contractIsNotExpire != null and cm.contractIsNotExpire != '' ">
            <if test="cm.contractIsNotExpire == '已到期' ">
                and project.service_end_time <![CDATA[ < ]]> DATE_FORMAT(NOW(), '%Y-%m-%d')
            </if>
            <if test="cm.contractIsNotExpire == '即将到期' ">
                and project.service_end_time <![CDATA[ < ]]> date_add(DATE_FORMAT(NOW(), '%Y-%m-%d'), interval 91 day)
                and project.service_end_time <![CDATA[ > ]]> DATE_FORMAT(NOW(), '%Y-%m-%d')
            </if>
            <if test="cm.contractIsNotExpire == '未到期' ">
                -- and project.service_end_time <![CDATA[ > ]]> DATE_FORMAT(NOW(), '%Y-%m-%d')
                and project.service_end_time <![CDATA[ > ]]> date_add(DATE_FORMAT(NOW(), '%Y-%m-%d'), interval 91 day)
            </if>
        </if>
        <if test="cm.serviceContent != null">
            and
            (
            <foreach collection="cm.serviceContent" index="index" item="item" open="" separator="" close="">
                <if test="index != 0">
                    or
                </if>
                project.service_content like '%${item}%'
            </foreach>
            )
        </if>

        <if test="ew.sqlSegment != '' ">
            AND ${ew.sqlSegment}
        </if>


        <choose>
            <!--  所在部门及下级部门+员工+拓后负责人   -->
            <when test="'SHOW_SUB' == cm.dataRole">
                <!-- 我部门下的数据 -->
                and (
                project.company_id IN
                <foreach collection="cm.deptIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                OR project.attributor_user_id = #{cm.userId}
                OR project.create_user_id = #{cm.userId}
                OR project.principal_id = #{cm.userId}
                )
            </when>
            <!--            <when test="cm.assessState != ''">-->
            <!--&#45;&#45;                 and assess.assess_state = #{cm.assessState}-->
            <!--            </when>-->
            <!-- 全部数据 -->
            <when test="'SHOW_ALL' == cm.dataRole">

            </when>

            <!-- 默认本人数据 -->
            <otherwise>
                AND (
                project.attributor_user_id = #{cm.userId}
                OR project.principal_id = #{cm.userId}
                OR project.create_user_id = #{cm.userId}
                OR project.id IN ( SELECT bpu.record_id FROM biz_project_team bpu WHERE bpu.user_id = #{cm.userId})
                )
            </otherwise>
        </choose>
    </select>
</mapper>