<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytefinger.toutuo.biz.user.mapper.SysUserDeptPostInfoMapper">

    <sql id="select">
        SELECT `sd`.`dept_id`       AS `deptId`,
               `sd`.`parent_id`     AS `parentId`,
               (select dept_name from sys_dept d where d.dept_id = sd.parent_id) as parentName,
               `sd`.`parent_id`     AS `parentId`,
               `sd`.`ancestors`     AS `ancestors`,
               `sd`.`dept_name`     AS `deptName`,
               `sd`.`order_num`     AS `orderNum`,
               `sd`.`level`         AS `level`,
               `sd`.`status`        AS `deptStatus`,
               `sd`.`del_flag`      AS `delFlag`,
               `sp`.`post_id`       AS `postId`,
               `sp`.`post_code`     AS `postCode`,
               `sp`.`post_name`     AS `postName`,
               `sp`.`post_sort`     AS `postSort`,
               `sp`.`status`        AS `postStatus`,
               `sp`.`remark`        AS `remark`,
               `sudp`.`user_id`     AS `userId`,
               `sudp`.`update_time` AS `updateTime`
        FROM `sys_user_dept_post` `sudp`
                 INNER JOIN `sys_dept` `sd` ON (`sudp`.`dept_id` = `sd`.`dept_id` AND sd.`status` = 0)
                 INNER JOIN `sys_post` `sp` ON (`sudp`.`post_id` = `sp`.`post_id` AND sp.`status` = 0)
    </sql>

    <select id="selectOne" resultType="com.bytefinger.toutuo.api.biz.user.domain.dto.SysUserDeptPostInfoDTO">
        <include refid="select"/>
        WHERE `sudp`.`user_id` = #{userId}
        AND `sd`.`dept_id` = #{deptId}
        AND `sp`.`post_id` = #{postId}
    </select>

    <select id="selectList" resultType="com.bytefinger.toutuo.api.biz.user.domain.dto.SysUserDeptPostInfoDTO">
        <include refid="select"/>
        WHERE `sudp`.`user_id` = #{userId}
        ORDER BY `sudp`.`update_time` DESC
    </select>

</mapper> 